@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: #283c86; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#45a247,
		#283c86
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#45a247,
		#283c86
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	font-family: 'Roboto', sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 400px;
	padding: 20px 40px;
	background: #007991; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#78ffd6,
		#007991
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#78ffd6,
		#007991
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	outline: 2px solid #000;
	box-shadow: 3px 10px 15px #000;
}

h1 {
	font-size: 2.5rem;
}

h3 {
	margin-top: 15px;
}

h1,
h3 {
	text-align: center;
}

.dice-wrapper {
	display: flex;
	justify-content: space-around;
	width: 90%;
	padding-top: 40px;
}

.dice-wrapper p {
	text-align: center;
}

#die1,
#die2 {
	height: 80px;
	width: 80px;
}

#result {
	margin-top: 20px;
	font-size: 1.6rem;
	font-weight: bold;
	text-shadow: 0px 1px 3px rgb(255, 255, 255);
}

button {
	height: 30px;
	width: 100px;
	margin-top: 20px;
	padding: 3px;
	background-color: #283c86;
	color: #fff;
	font-size: 0.7rem;
	font-weight: bold;
	outline: none;
	letter-spacing: 1px;
	cursor: pointer;
	border-radius: 4px;
	box-shadow: 2px 4px 10px #000;
}

button:hover {
	background-color: #283c86e5;
}

button:active {
	padding: 1px;
	outline: none;
}

.shake {
	animation: shake 0.2s infinite;
}

@keyframes shake {
	0% {
		transform: rotate(7deg);
	}
	50% {
		transform: rotate(-7deg);
	}
	100% {
		transform: rotate(7deg);
	}
}
